{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listify</title>
</head>
<body>
        {% if login %}
            <a href="{{login}}">login</a>

        {% else %}
            <h4>songs recently played</h4>
            {% for recent_song in recent_songs %}
                <h5>{{recent_song}}</h5>
            {% endfor %}

        <a href="{% url 'main' %}">See Recommendation Songs</a>
        <br>
        <a href="{% url 'logout' %}">logout</a>
        {% endif %}
</body>
</html>